<nav>
    <p>
        <a href="{% url 'home' %}">Головна</a>
        <a href="{% url 'courses_list' %}">Список Курсів</a>
        {% if request.user.is_authenticated %}
            <a href="{% url 'my_courses' %}">Мої Курси</a>
            <a href="{% url 'enroll_course' %}">Запис на Курс</a>
        {% endif %}
        <a href="{% url 'about' %}">Про Нас</a>
    </p>

    <p>
        {% if request.user.is_authenticated %}
            <span>Користувач: {{ request.user.username }}</span>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Вийти</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Увійти</a>
        {% endif %}
    </p>

</nav>