<!doctype html>
{% load static %}
<html lang="uk">
<head>
    <title>{% block title %}Освітня Платформа{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'courses/css/style.css' %}?t=2" />
    {% block extra_css %}{% endblock %}
</head>
<body>

{% include 'courses/includes/navbar.html' %}

{% if messages %}
<div class="messages">
    {% for message in messages %}
        <div class="message message-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

{% block main %}
{% endblock %}

{% include 'courses/includes/footer.html' %}
<script src="{% static 'courses/js/app.js' %}"></script>
</body>
</html>