{% extends 'courses/base.html' %}

{% block title %}Освітня Платформа - Видалення Курсу{% endblock %}

{% block main %}
<main class="teacher-page course-delete">
    <h1>Видалення курсу</h1>

    <p class="delete-warning">Ви точно хочете видалити курс "{{ course.name }}"?</p>

    <form class="delete-form" method="post">
        {% csrf_token %}
        <button class="danger-button" type="submit">Так, видалити</button>
        <a class="button-link secondary-link" href="{% url 'teacher_dashboard' %}">Скасувати</a>
    </form>
</main>
{% endblock %}
