{% extends "courses/base.html" %}

{% block title %}
    {% if course %}
        Освітня Платформа - Редагування Курсу
    {% else %}
        Освітня Платформа - Cтворення Курсу
    {% endif %}
{% endblock %}

{% block main %}
<main class="teacher-page course-editor">
    {% if course %}
        <h1>Редагування курсу</h1>
    {% else %}
        <h1>Створення курсу</h1>
    {% endif %}

    <form class="teacher-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Зберегти</button>
    </form>

    <p class="page-action">
        <a href="{% url 'teacher_dashboard' %}">Назад до курсів</a>
    </p>
</main>
{% endblock %}
