{% extends 'courses/base.html' %}

{% block title %}Освітня Платформа - Курси Викладача{% endblock %}

{% block main %}
<main>
    <strong>Мої Курси</strong>

    {% if courses %}
        <div>
            <a href="{% url 'course_create' %}">Створити курс</a>
        </div>

        <p></p>
        <div>
            <ul>
                {% for course in courses %}
                    <li>
                        <p><a href="{% url 'course_details' course.id %}">{{ course.name }}</a></p>
                        <p>Модулів: {{ course.modules.count }}</p>
                        <p>Записів: {{ course.enrollments.count }}</p>
                        <p><a href="{% url 'course_update' course.id %}">Редагувати</a></p>
                        <p><a href="{% url 'course_delete' course.id %}">Видалити</a></p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>У вас ще немає курсів.</p>
        <p>
            <a href="{% url 'course_create' %}">Створити перший курс</a>
        </p>
    {% endif %}

</main>
{% endblock %}
